{{ $page := . }}

<tr>
  {{ if eq $page.Type "Bookmark" }}
  <th>
    <a href="{{ $page.Params.Url }}">{{ $page.Title }}</a> 
    {{ if $page.Params.Source }}
    via <a href="{{ $page.Params.Source.Url }}">{{ $page.Params.Source.Title }}</a>
    {{ end }}
  </th>
  {{ end }}
  
  <td>
    {{ with $page.GetTerms "tags" }}
    <div class="terms">
      <ul class="terms__list">
        {{ range . }}
        <li class="terms__node">
          <a class="terms__link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li><!-- .terms__node -->
        {{ end }}
      </ul><!-- terms__list -->
    </div><!-- .terms -->
  {{ end }}
  </td>
  
  <td>
    {{ time.Format "02 January 2006" $page.Date }}
  </td>
</tr>