{{ define "main" }}
<div id="content">
  {{ range (first 1 .Pages) }}
    {{ partial "project" . }}
  {{ end }}
</div>
<div id="sub-content">
  <h2>All Projects</h2>
  <p>All available projects, listed in reverse chronological order.</p>
  <ul>
    {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  <h2>C.V.</h2>
  <p>Although I am not taking freelance work at this time, my <a href="/7/about/cv.pdf" title="My Curriculum Vitae (.pdf)">C.V.</a> is available for your records.</p>
</div>		
{{ end }}