@import "./vendor/resets.css";
@import "./vendor/animations.css";
@import "./vendor/variables.css";

@font-face {
  font-display: swap;
  font-family: "Diatype";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/diatype-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Diatype";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/diatype-mono-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Favorit";
  font-style: normal;
  font-weight: 300 900;
  src: url("/fonts/favorit-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Favorit Mono";
  font-style: normal;
  font-weight: 300 900;
  src: url("/fonts/favorit-mono-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Whyte";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/whyte-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Whyte";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/whyte-mono-variable.woff2") format("woff2");
}

:root {
  --color-background-default-stronger: color-mix(in srgb, var(--color-black) 10%, var(--color-red-100));
  --color-background-default-strong: color-mix(in srgb, var(--color-black) 5%, var(--color-red-100));
  --color-background-default: var(--color-red-100);

  --color-background-neutral-reverse-strong: color-mix(in srgb, var(--color-black) 90%, var(--color-red-100));
  --color-background-neutral-reverse: color-mix(in srgb, var(--color-black) 80%, var(--color-red-100));

  --color-foreground-default: color-mix(in srgb, var(--color-black) 80%, transparent);
  --color-foreground-default-weak: color-mix(in srgb, var(--color-black) 60%, transparent);

  --color-foreground-neutral-reverse: var(--color-red-100);
  --color-foreground-neutral-reverse-weak: color-mix(in srgb, var(--color-red-100) 60%, transparent);

  --color-stroke-default-strong: color-mix(in srgb, var(--color-black) 90%, var(--color-red-100));
  --color-stroke-default: color-mix(in srgb, var(--color-black) 80%, var(--color-red-100));
  --color-stroke-default-weak: color-mix(in srgb, var(--color-black) 10%, var(--color-red-100));

  --font-sans: "Diatype", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans--feature-settings: "ss05" on, "ss10" on, "ss11" on;

  --font-mono: "Diatype Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --font-mono--feature-settings: "ss05" on, "ss10" on, "ss11" on;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --scale-minor-second: 1.067;
  --scale-major-second: 1.125;
  --scale-minor-third: 1.2;
  --scale-major-third: 1.25;
  --scale-perfect-fourth: 1.333;
  --scale-augmented-fourth: 1.414;
  --scale-perfect-fifth: 1.5;
  --scale-golden-ratio: 1.618;

  --text-xs: calc(var(--text-sm) / var(--scale-minor-third));
  --text-xs--line-height: 1.5;

  --text-sm: calc(var(--text-md) / var(--scale-minor-third));
  --text-sm--line-height: 1.5;

  --text-md: 1rem;
  --text-md--line-height: 1.5;

  --text-lg: calc(var(--text-md) * var(--scale-minor-third));
  --text-lg--line-height: 1.333;

  --text-xl: calc(var(--text-lg) * var(--scale-minor-third));
  --text-xl--line-height: 1.333;

  --stroke-sm: 0.078125rem;

  --transition-duration-md: 0.15s;
  --transition-duration-lg: 0.3s;
}

@media (prefers-color-scheme: dark) {
  /* ? */
}

html {
  font-size: 14px;

  @media (width>=640px) {
    font-size: 16px;
  }

  @media (width>=768px) {
    font-size: 18px;
  }

  @media (width>=1024px) {
    font-size: 18px;
  }

  @media (width>=1280px) {
    font-size: 18px;
  }

  @media (width>=1536px) {
    font-size: 21px;
  }
}

body {
  background-color: var(--color-background-default);
  color: var(--color-foreground-default);
  font: normal var(--font-normal) var(--text-md) / var(--text-md--line-height) var(--font-sans);
  font-feature-settings: var(--font-sans--feature-settings);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: var(--font-bold);
}

em,
i {
  font-style: inherit;
}

img,
svg {
  display: block;
  height: auto;
  width: 100%;
}

img {
  border-radius: var(--radius-md);
}

p,
ol,
ul {
  text-wrap: pretty;
}

/*
* SITE
* 
* 
*/

.site {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: flex-start;
  min-height: calc(100vh - (0.75rem * 2));
  padding: 0.75rem;

  @media (width>=640px) {
    min-height: calc(100vh - (1.5rem * 2));
    padding: 1.5rem;
  }

  @media (width>=1536px) {
    margin-inline: auto;
    max-width: 1536px;
  }
}

.site__menu,
.site__meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

.site__main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6rem;
  justify-content: flex-start;
}

/*
* MENU
* 
* 
*/

.menu,
.menu__list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.menu {
  gap: 1.5rem;

  @media (width>=640px) {
    gap: 3rem;
  }
}

.menu__list {
  gap: 1.5rem;
}

.menu__node {
  /* ? */
}

.menu__link {
  color: var(--color-foreground-default-weak);
  text-decoration-line: none;
  transition-duration: var(--transition-duration-md);
  transition-property: color;

  &:hover {
    color: var(--color-foreground-default);
  }
}

.menu__link--current {
  color: var(--color-foreground-default);
}

/*
* META
* 
* 
*/

.meta {
  /* ? */
}

.meta__list {
  /* ? */
}

.meta__node {
  /* ? */
}

.meta__link {
  /* ? */
}

/*
* COPY
* 
* 
*/

.copy {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  ol,
  ul {
    &:not(:first-child) {
      margin-block-start: 0.75rem;
    }

    &:not(:last-child) {
      margin-block-end: 0.75rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    line-height: var(--text-lg--line-height);

    &:not(:first-child) {
      margin-block-start: 1.5rem;
    }
  }

  h1+h2,
  h2+h3,
  h3+h4,
  h4+h5,
  h5+h6 {
    margin-block-start: 0.75rem;
  }

  p,
  dl,
  ol,
  ul {
    text-align: justify;
  }
}

/*
* LOGO
* 
* 
*/

.logo {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  svg {
    height: calc(1rem * var(--scale-major-second));
    width: calc(1rem * var(--scale-major-second));
  }
}

/*
* Info
* 
* 
*/

.info {
  background-color: var(--color-background-default);
  border: solid var(--stroke-sm) var(--color-stroke-default);
  color: var(--color-foreground-default);
  transition-duration: var(--transition-duration-md);
  transition-property: background-color, color;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: calc(0.75rem - (var(--stroke-sm) * 2));
}

a.info {
  text-decoration: none;

  &:hover {
    background-color: var(--color-background-neutral-reverse);
    color: var(--color-foreground-neutral-reverse);
  }
}

.info__title {
  color: var(--color-foreground-default);
  font-weight: var(--font-medium);
  transition-duration: var(--transition-duration-md);
  transition-property: color;
}

a.info:hover .info__title {
  color: var(--color-foreground-neutral-reverse);
}

/*
* Post
* 
* 
*/

.post {
  background-color: var(--color-background-neutral-reverse);
  border: solid var(--stroke-sm) var(--color-stroke-default);
  color: var(--color-foreground-neutral-reverse);
  transition-duration: var(--transition-duration-md);
  transition-property: background-color;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: calc(0.75rem - (var(--stroke-sm) * 2));
}

a.post {
  text-decoration: none;

  &:hover {
    background-color: var(--color-background-default);
  }
}

.post__title,
.post__subtitle {
  transition-duration: var(--transition-duration-md);
  transition-property: color;
}

.post__title {
  color: var(--color-foreground-neutral-reverse);
  font-weight: var(--font-medium);
}

a.post:hover .post__title {
  color: var(--color-foreground-default);
}

.post__subtitle {
  color: var(--color-foreground-neutral-reverse);
  font-weight: var(--font-normal);

  @media (width>=640px) {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
}

a.post:hover .post__subtitle {
  color: var(--color-foreground-default);
}

/*
* Items
* 
* 
*/

.items {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.site__main .items {
  @media (width>=640px) {
    margin: -0.75rem;
  }
}

.items__list {
  display: grid;
  gap: 0.375rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);

  @media (width>=640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width>=1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width>=1280px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.items__node {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.items__node:has(.info) {
  grid-column: span 2;
}

.items__node:has(.post) {
  aspect-ratio: 1/1;
  grid-column: span 1;
}

/*
* Terms
* 
* 
*/

.terms {
  /* ? */
}

.terms__list {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.terms__node {
  /* ? */
}

.terms__link {
  background-color: var(--color-background-default);
  border: solid 1px var(--color-stroke-default-weak);
  color: var(--color-foreground-default);
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  letter-spacing: 0.1em;
  line-height: var(--text-xs--line-height);
  text-decoration-line: none;
  text-transform: uppercase;
  transition-property: border-color;
  transition-duration: var(--transition-duration-md);

  border-radius: 999px;
  display: block;
  padding: calc(0.25rem - 1px) calc(0.75rem - 1px);

  &:hover {
    border-color: var(--color-stroke-default);
  }
}