{{ $site := $.Site }}
{{ $page := . }}

<li class="CardsNode">
  <a class="Card" href="{{ $page.RelPermalink }}">
    <div class="CardHeader">
      <div class="CardHeaderImage"></div>
    </div><!-- .CardHeader -->
    <div class="CardMain">
      <h1 class="CardTitle">
        {{ .Title }}
      </h1>
      <h2 class="CardSubtitle">
        {{ $page.Params.Role }} at {{ $page.Params.Client }}, {{ $page.Params.Year.Start }}&thinsp;&ndash;&thinsp;{{ $page.Params.Year.End }}
      </h2>
    </div><!-- .CardMain -->
  </a><!-- .Card -->
</li>