{{ define "main" }}
  {{ $site := $.Site }}
  {{ $page := . }}
  
  <article class="Post">
    
    {{ if $page.Title }}
    <header class="PostHeader">
      <div class="PostTitles">
        <h1 class="PostTitle">{{ $page.Title }}</h1>
      
        {{ if $page.Params.Subtitle }}
        <h2 class="PostSubtitle">{{ $page.Params.Subtitle }}</h2>
        {{ end }}
      </div><!-- .PostTitles -->
    </header><!-- .PostHeader -->
    {{ end }}
    
    {{ $page.Content }}
  </article><!-- .Post -->
{{ end }}