{{ define "main" }}
  {{ $site := $.Site }}
  {{ $page := . }}
  
  <article class="page">
    <header class="page__header">
      <menu class="meta">
        <li class="meta__item">
          <time>{{ time.Format "02 January 2006" $page.Date }}</time>
        </li>
        {{ if in (slice "notes") $page.Section }}
        <li class="meta__item">
          Posted in <a href="/{{ $page.Section }}">{{ title $page.Section }}</a>
        </li>
        {{ end }}
      </menu><!-- .meta -->
      
      <h1>{{ $page.Title }}</h1>
    </header><!-- .page__header -->
    
    {{ with $page.Content }}
    <div class="page__main">
      <div class="copy">
        {{ . }}
      </div><!-- .copy -->
    </div><!-- .page__main -->
    {{ end }}
    
    {{ with $page.GetTerms "tags" }}
    <footer class="page__footer">
      <ul class="terms">
        {{ range . }}
        <li class="terms__item">
          <a class="terms__link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li><!-- .terms__item -->
        {{ end }}
      </ul><!-- .terms -->
    </footer><!-- .page__footer -->
    {{ end }}
  </article><!-- .page -->
{{ end }}