{{ define "main" }}
  {{ $site := $.Site }}
  {{ $page := . }}
  
  <article class="Post">
    <header class="PostHeader">
      <div class="Meta">
        <ul class="MetaList">
          <li class="MetaNode">{{ $page.Type }}</li>
        </ul><!-- .MetaList -->
      </div><!-- .Meta -->
      
      <div class="PostTitles">
        <h1 class="PostTitle">{{ $page.Title }}</h1>
      
        {{ if $page.Params.Subtitle }}
        <h2 class="PostSubtitle">{{ $page.Params.Subtitle }}</h2>
        {{ end }}
      </div><!-- .PostTitles -->
    </header><!-- .PostHeader -->
    
    <div class="PostBody">
      <div class="Copy">
        {{ $page.Content }}
      </div><!-- .Copy -->
    </div><!-- .PostBody -->
  </article><!-- .Post -->
{{ end }}