{{ define "main" }}
  {{ $site := $.Site }}
  {{ $page := . }}
  
  <div class="page">
    <header class="page__menu">
      <h1 class="page__title">{{ $page.Title }}</h1>
    </header><!-- .page__menu -->
    
    <div class="page__main">
      {{ with $page.Content }}
      <div class="copy">
        {{ . }}
      </div><!-- .copy -->
      {{ end }}
      
      {{ with $page.Pages }}
      <div class="copy">
        <div class="overflow">
          {{ partial "posts/table.html" .ByDate.Reverse }}
        </div><!-- .overflow -->
      </div><!-- .copy -->
      {{ end }}
    </div><!-- .page__main -->
  </div><!-- .page -->
{{ end }}
