<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">

{{ with .Site.Author.name }}
<meta content="{{.}}" name="author">
{{end}}

<meta content="{{ .Summary | default "¿?" }}" name="description">

{{ with $.Page.Params.meta }}
{{ range $key, $value := . }}
  <meta content="{{ $key }}" name="{{ $value }}">
{{ end }}
{{ end }}

<title>
  {{ $.Title | default "Untitled" }}&thinsp;&mdash;&thinsp;{{ $.Site.Title }}
</title>

{{ with .OutputFormats.Get "rss" }}
<link href="{{.Permalink}}" rel="{{ .Rel }}" title="{{ $.Site.Title }}" type="application/rss+xml" />
{{ end }}

<!-- icons -->
<link rel="apple-touch-icon" href="{{ $.Site.BaseURL }}apple-touch-icon.png">
<link rel="favicon" href="{{ $.Site.BaseURL }}favicon.ico">

<!-- turbolinks -->
<script type="module">
  addEventListener("load", () => import("https://cdn.skypack.dev/@hotwired/turbo?min"));
</script>

<!-- javascripts -->
{{ $javascripts := slice (resources.Get "javascripts/senmonshi.js") }}
{{ with $.Site.Params.javaScripts }}
{{ range . }}
  {{ $javascripts = $javascripts | append (slice (resources.Get .)) }}
{{ end }}
{{ end }}

{{ $javascript := $javascripts | resources.Concat "javascripts/senmonshi.js" | resources.Minify | fingerprint }}
<script src="{{ $javascript.RelPermalink }}" integrity="{{ $javascript.Data.Integrity }}" type="text/javascript"></script>

<!-- stylesheets -->
{{ $stylesheets := slice (resources.Get "stylesheets/senmonshi.scss") }}
{{ with $.Site.Params.styleSheets }}
{{ range . }}
  {{ $stylesheets = $stylesheets | append (slice (resources.Get .)) }}
{{ end }}
{{ end }}

{{ $stylesheet := $stylesheets | resources.Concat "stylesheets/senmonshi" | toCSS | resources.Minify | fingerprint }}
<link href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" rel="stylesheet" type="text/css" />

<!-- opengraph etc. -->
<meta property="og:locale" content="{{ .Site.LanguageCode | default "en" }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title | default "Untitled" }}" />
<meta property="og:description" content="{{ .Summary | default "" }}" />
<meta property="og:url" content="{{ .RelPermalink }}" />

<meta property="og:article:published_time" content="{{ .Date | default "1981-10-27T05:00+00:00" }}">
<meta property="og:article:modified_time" content="{{ .Lastmod | default "1981-10-27T05:00+00:00" }}">
<meta property="og:article:author" content="{{ .Site.Title }}" />

{{ with ($.Resources.GetMatch "opengraph*") }}
<meta property="og:image" content="{{ (.Fill "1200x630 Center jpg").RelPermalink }}" />
{{ end }}

{{ with $.Site.Param "SocialNetworks.Twitter" }}
<meta name=twitter:card content="summary" />
<meta name=twitter:creator content="@{{ . }}" />
<meta name=twitter:site content="@{{ . }}" />
<meta name=twitter:title content="{{ $.Title | default "Untitled" }}" />
<meta name=twitter:description content="{{ $.Summary | default "¿?" }}" />

{{ with ($.Resources.GetMatch "opengraph*") }}
<meta name=twitter:image content="{{ (.Fill "1200x1200 Center jpg").RelPermalink }}" />
{{ end }}
{{ end }}

{{ with $.Site.Param "SocialNetworks.Mastodon" }}
<link rel="me" href="{{ . }}" />
{{ end }}
