{{ $page := . }}

<div class="m_menu">
  <ul class="m_menu__list">
    {{ range .Site.Menus.main }}
    {{ if or (.Page.Pages) (eq .Page.Kind "page") }}
    <li class="m_menu__node">
      {{ if or (eq $page .Page) (eq $page.Parent .Page) }}
      <a class="m_menu__link m_menu__link--{{ urlize .Name }} hover" href="{{ .URL }}">
        <strong>{{ .Name }}</strong>
      </a>
      {{ else }}
      <a class="m_menu__link m_menu__link--{{ urlize .Name }}" href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
      {{ end }}
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>