{{ $page := . }}
{{ $section := cond (eq $page.Parent.Kind "section") $page.Parent $page }}

<div class="o_card">
  {{ with ($page.Resources.GetMatch "o_card__lead*") }}
  <header class="o_card__lead">
    <picture>
      <source media="(max-width:666px)" srcset="{{ (.Fill "750x375 Center webp").RelPermalink }}" type="image/webp" />
      <source media="(min-width:667px) and (max-width:809px)" srcset="{{ (.Fill "1334x667 Center webp").RelPermalink }}" type="image/webp" />
      <source media="(min-width:810px)" srcset="{{ (.Fill "1492x746 Center webp").RelPermalink }}" type="image/webp" />

      <source media="(max-width:666px)" srcset="{{ (.Fill "750x375 Center webp").RelPermalink }}" type="image/webp" />
      <source media="(min-width:667px) and (max-width:809px)" srcset="{{ (.Fill "1334x667 Center jpg").RelPermalink }}" type="image/jpeg" />
      <source media="(min-width:810px)" srcset="{{ (.Fill "1492x746 Center jpg").RelPermalink }}" type="image/jpeg" />

      <img alt="Cover image: {{ $page.Title }}" src="{{ (.Fill "1492x746 Center").RelPermalink }}" title="{{ $page.Title }}" height="480" width="720" />
    </picture>
  </header>
  {{ end }}

  <div class="o_card__body">
    <div class="u_copy">
      {{ with $page.Title }}
      <h1>{{ . }}</h1>
      {{ end }}

      <p>{{ markdownify $page.Summary }}</p>
    </div>

    <div class="m_menu">
      <ul class="m_menu__list">
        <li class="m_menu__node">
          <a class="m_menu__link m_menu__link--internal" href="{{ $page.RelPermalink }}">
            <span>Read &ldquo;{{ $page.Title }}&rdquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>