{{ $page := . }}
{{ $section := cond (eq $page.Parent.Kind "section") $page.Parent $page }}

<section class="o_item o_item--{{ $section.Slug }}" id="{{ $section.Slug }}-{{ $page.Date.Format "20060102150405" }}">
  <header class="o_item__header">
    {{ if in (slice "post") $section.Type }}
    {{ with $section.Param "list.type" }}
    <h1 class="o_item__title">Published a new {{ lower . }}</h1>
    {{else}}
    <h1 class="o_item__title">Published a new post</h1>
    {{ end }}
    {{ end }}
      
    {{ if in (slice "note") $section.Type }}
      <h1 class="o_item__title">{{ $page.Title }}</h1>
    {{ end }}
    
    <h2 class="o_item__subtitle">
      {{ $page.Date.Format "Monday 2" }}{{ if in (slice 1 21 31) $page.Date.Day}}st{{ else if in (slice 2 22) $page.Date.Day}}nd{{ else if in (slice 3 23) $page.Date.Day}}rd{{ else }}th{{ end }}
      {{ $page.Date.Format "January 2006" }}
    </h2>
  </header>
  
  <div class="o_item__body">
    <div class="m_card m_card--{{ $section.Slug }}">
      {{ with ($page.Resources.GetMatch "m_card__blob*") }}
      <div class="m_card__blob">
        <picture>
          <source media="(max-width:567px)" srcset="{{ (.Fill "640x420 Center").RelPermalink }}" type="{{ .MediaType }}" />
          <source media="(min-width:568px) and (max-width:767px)" srcset="{{ (.Fill "1136x756 Center").RelPermalink }}" type="{{ .MediaType }}" />
          <source media="(min-width:768px) and (max-width:1023px)" srcset="{{ (.Fill "1536x1024 Center").RelPermalink }}" type="{{ .MediaType }}" />
          <source media="(min-width:1024px) and (max-width:1279px)" srcset="{{ (.Fill "2048x1365 Center").RelPermalink }}" type="{{ .MediaType }}" />
          <source media="(min-width:1280px) and (max-width:1439px)" srcset="{{ (.Fill "2560x1706 Center").RelPermalink }}" type="{{ .MediaType }}" />
          <source media="(min-width:1440px)" srcset="{{ (.Fill "2880x1920 Center").RelPermalink }}" type="{{ .MediaType }}" />
    
          <img alt="Cover image: {{ $page.Title }}" src="{{ (.Fill "1440x720 Center").RelPermalink }}" title="{{ $page.Title }}" height="480" width="720" />
        </picture>
      </div>
      {{ end }}
      
      <div class="m_card__body">
        {{ if in (slice "post") $section.Type }}
        <div class="u_copy u_copy--{{ $section.Slug }}">
          {{ with $page.Title }}
          <h1>{{ . }}</h1>
          {{ end }}
          
          <p>{{ markdownify $page.Summary }}</p>
        </div>
        {{ end }}
          
        {{ if in (slice "note") $section.Type }}
        <div class="u_copy u_copy--{{ $section.Slug }}">
          {{ $page.Content }}
        </div>
        {{ end }}
      </div>
      
      {{ if in (slice "post") $section.Type }}
      <footer class="m_card__menu">
        <div class="m_menu">
          <ul class="m_menu__list">
            <li class="m_menu__node">
              {{ with $section.Param "list.type" }}
              <a class="m_menu__link m_menu__link--{{ $section.Slug }}" href="{{ $page.RelPermalink }}"><span>Read the {{ lower . }}</span></a>
              {{else}}
              <a class="m_menu__link m_menu__link--{{ $section.Slug }}" href="{{ $page.RelPermalink }}"><span>Read the post</span></a>              
              {{ end }}
            </li>
          </ul>
        </div>
      </footer>
      {{ end }}
      
      {{ if in (slice "note") $section.Type }}
      {{ with $page.Params.Links }}
      <footer class="m_card__menu">
        <div class="m_menu">
          <ul class="m_menu__list">
            {{ range $link := . }}
            <li class="m_menu__node">
              <a class="m_menu__link m_menu__link--{{ $section.Slug }}" href="{{ $link.url }}"><span>{{ $link.text }}</span></a>
            </li>
            {{ end }}            
          </ul>
        </div>
      </footer>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>