{{ $site := $.Site }}
{{ $page := . }}

<!DOCTYPE html>
<html lang="{{ $site.Language.Locale }}" dir="{{ or $site.Language.Direction `ltr` }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>{{ $page.Title | default "Untitled" }} - {{ $site.Title }}</title>
    
    <meta content="{{ $site.BaseURL }}humans.txt" name="author">
    <meta content="{{ $page.Description | default "¿?" }}" name="description">
    
    <meta property="og:title" content="{{ $page.Title | default $site.Title }}">
    <meta property="og:description" content="{{ $page.Description | default "¿?" }}">
    <meta property="og:locale" content="{{ $site.Language.Locale }}">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    
    <link rel="canonical" href="{{ $page.Permalink }}">
    
    <link rel="preconnect" href="{{ $site.BaseURL }}">
    <link rel="dns-prefetch" href="{{ $site.BaseURL }}">
    
    {{ partial "head/css.html" . }}
    
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" type="image/png">
    <link href="/favicon.ico" rel="icon" sizes="32x32">
    <link href="/icon.svg" rel="icon" type="image/svg+xml">
  </head>
  <body>
    <div class="page">
      <div class="page__header">
        <header class="header">
          <a class="logo" href="/">{{ $site.Title }}</a>
          
          <menu class="header__menu">
            {{ if or (eq $page.RelPermalink "/") (eq $page.Section "projects") }}
              <a class="link link--current" href="/" aria-current="true">Projects</a>
            {{ else }}
              <a class="link" href="/">Projects</a>
            {{ end }}
            
            {{ if (eq $page.RelPermalink "/about/") }}
              <a class="link link--current" href="/about" aria-current="true">About</a>
            {{ else }}
              <a class="link" href="/about">About</a>
            {{ end }}
            
            {{ if (eq $page.RelPermalink "/contact/") }}
              <a class="link link--current" href="/contact" aria-current="true">Contact</a>
            {{ else }}
              <a class="link" href="/contact">Contact</a>
            {{ end }}
          </menu><!-- .header__menu -->
        </header><!-- .header -->
      </div><!-- .page__header -->
      <div class="page__main">
        <main class="main">
          {{ block "main" . }}{{ end }}
        </main><!-- .main -->
      </div><!-- .page__main -->
    </div><!-- .page -->
    
    <!--
    <header>
      <h1 class="font-sans font-medium text-md text-gray-800 whitespace-nowrap">
        <a href="/">{{ $site.Title }}</a>
      </h1>
          
      <menu class="flex flex-row items-center justify-start gap-1">
        {{ if or (eq $page.RelPermalink "/") (eq $page.Section "projects") }}
          <a class="px-4 py-2 flex flex-row items-center justify-start bg-gray-800/10 text-gray-800 text-xs whitespace-nowrap rounded-full transition-all duration-50" href="/" aria-current="true">Projects</a>
        {{ else }}
          <a class="px-4 py-2 flex flex-row items-center justify-start text-gray-800/60 hover:text-gray-800 text-xs whitespace-nowrap transition-all duration-50" href="/">Projects</a>
        {{ end }}
        
        {{ if (eq $page.RelPermalink "/about/") }}
          <a class="px-4 py-2 flex flex-row items-center justify-start bg-gray-800/10 text-gray-800 text-xs whitespace-nowrap rounded-full transition-all duration-50" href="/about" aria-current="true">About</a>
        {{ else }}
          <a class="px-4 py-2 flex flex-row items-center justify-start text-gray-800/60 hover:text-gray-800 text-xs whitespace-nowrap transition-all duration-50" href="/about">About</a>
        {{ end }}
        
        {{ if (eq $page.RelPermalink "/contact/") }}
          <a class="px-4 py-2 flex flex-row items-center justify-start bg-gray-800/10 text-gray-800 text-xs whitespace-nowrap rounded-full transition-all duration-50" href="/contact" aria-current="true">Contact</a>
        {{ else }}
          <a class="px-4 py-2 flex flex-row items-center justify-start text-gray-800/60 hover:text-gray-800 text-xs whitespace-nowrap transition-all duration-50" href="/contact">Contact</a>
        {{ end }}
      </menu>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    -->
  </body>
</html>
