{{ define "main" }}
  <section class="introduction">
    {{ .Content }}
  </section>
  <section class="projects">
    <h1 class="projects__h1">Selected Work</h1>
    <ol class="projects__list">
      {{ range where .Site.RegularPages "Section" "projects" }}
        <li class="projects__node">
          <a class="project" href="{{ .RelPermalink }}">
            <picture>
              {{ with .Resources.Get "home.png" }}
                {{ $filter := images.Process "webp q100" }}
                {{ with .Filter $filter }}
                  <source srcset="{{ .RelPermalink }}" type="image/webp">
                {{ end }}
              
                <img src="{{ .RelPermalink }}" class="w-full h-auto" alt="" width="{{ .Width }}" height="{{ .Height }}">
              {{ end }}
            </picture>
            
            <div class="absolute inset-0 p-6 lg:p-12 flex flex-col items-center justify-center bg-white/20 opacity-0 group-hover:opacity-100 group-hover:backdrop-blur-lg transition-opacity duration-150">
              <h2 class="font-normal text-md text-gray-800 text-center">{{ .Title }}</h2>
              <h3 class="font-normal text-md text-gray-800/50 text-center">{{ .Params.Role }} at {{ .Params.Client }}, {{ .Params.Year.Start }}&thinsp;&ndash;&thinsp;{{ .Params.Year.End }}</h3>
            </div>
          </a>
        </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
