@import "vendor/reset.css";

@font-face {
  font-display: swap;
  font-family: "Circular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/circular-book.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/circular-medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/circular-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Circular";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/circular-black.woff2") format("woff2");
}

:root {
  --font-sans: "Circular", system-ui, sans-serif;
  --font-feature-settings-sans: "ss02" on, "ss05" on;

  --font-serif: "Circular", system-ui, sans-serif;
  --font-feature-settings-serif: "ss02" on, "ss05" on;
}

html {
  font-family: var(--font-sans);
  font-feature-settings: var(--font-feature-settings-sans);
  font-size: 16px;
}

body {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.8);
}

.page {
  background-color: rgba(255, 0, 0, 0.1);
  min-height: 100vh;
  position: relative;
}

.page__header {
  background-color: rgba(255, 0, 0, 0.1);
  inset-block-start: 0;
  inset-inline: 0;
  position: absolute;
  z-index: 900;
}

.page__main {
  background-color: rgba(0, 255, 0, 0.1);
  min-height: 100vh;
  position: relative;
  z-index: 100;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1536px;
  padding: 1.5rem;
}

.header__menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}

.main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
  max-width: 1536px;
}

.introduction {
  background-color: rgba(0, 255, 0, 0.1);

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  min-height: 100vh;
}

.introduction__h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.333em;
  text-wrap: pretty;
}

.projects {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: start;
  padding: 1.5rem;
}

.projects__h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  text-wrap: pretty;
}

.introduction+.projects {
  margin-block-start: -6rem;
}

.link {
  border-radius: 999px;
  color: rgba(255, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.05s;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  &:hover {
    color: rgba(255, 0, 0, 0.8);
  }
}

.link--current {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.8);
  font-weight: 500;
}

.logo {
  color: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  text-decoration: none;

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}