<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Ben Sekulowicz-Barclay" />
    <meta name="keywords" content="ben, benjamin, sekulowicz, barclay, sekulowicz-barclay, Ben Sekulowicz-Barclay, design, standards, june sarpong, rod in your face" />
    <meta name="description" content="A personal playground and centre for all the information on my projects." />
    
    <meta name="robots" content="all" />		
    <meta name="geo.position" content="51.4442;-0.1382" />
    
    <title>Beseku &middot; 7 &middot; Because its easier to spell than Ben Sekulowicz-Barclay.com</title>
    
    {{ $stylesheet := resources.Get "stylesheets/layout.css" | toCSS | resources.Minify | fingerprint }}
    <link href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" media="screen" rel="stylesheet" type="text/css" />
    
    {{ $stylesheet := resources.Get "stylesheets/text.css" | toCSS | resources.Minify | fingerprint }}
    <link href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1>Beseku &middot; 7</h1>
      <ul>
        {{ $current_page := . }}
        {{ range .Site.Menus.main }}
          {{ if or (eq $current_page .Page) (eq $current_page.Parent .Page) }}
          <li><a href="{{ .URL }}" class="active" id="nav-{{ urlize .Name }}" title="{{ .Name }}" accesskey="{{ substr .Name 0 1 }}">{{ .Name }}</a></li>
          {{ else }}
          <li><a href="{{ .URL }}" class="inactive" id="nav-{{ urlize .Name }}" title="{{ .Name }}" accesskey="P">{{ .Name }}</a></li>
          {{ end }}          
        {{ end }}
      </ul>
    </div>
    
    {{ block "main" . }}{{ end }}
  </body>
</html>	