@import "./vendor/reset.css";
@import "./vendor/variables.css";

@font-face {
  font-display: swap;
  font-family: "Diatype";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/diatype-plus-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Whyte";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/whyte-plus-variable.woff2") format("woff2");
}

:root {
  --font-sans: "Whyte", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans--feature-settings: "ss01" on;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --text-xs: 0.6875rem;
  --text-xs--line-height: 1.5;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5;

  --text-md: 1rem;
  --text-md--line-height: 1.5;

  --text-xl: 1.5rem;
  --text-xl--line-height: 1.5;

  --transition-duration-md: 0.15s;
}

html {
  font-size: 14px;

  @media (width >=400px) {
    font-size: round(down, clamp(14px, 0.6033rem + 1.0870vw, 18px), 1px);
  }

  @media (width >=1280px) {
    font-size: round(down, clamp(18px, 0.1875rem + 1.1719vw, 21px), 1px);
  }

  @media (width >=1536px) {
    font-size: 21px;
  }
}

body {
  background-color: var(--color-stone-100);
  color: var(--color-stone-800);
  font: normal var(--font-normal) var(--text-md) / var(--text-md--line-height) var(--font-sans);
  font-feature-settings: var(--font-sans--feature-settings);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: inherit;
}

em,
i {
  font-style: inherit;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

/*
 * Logo
 * 
 * 
 */

.logo {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.site__header .logo {
  align-self: flex-start;
}

/*
 * Menu
 * 
 * 
 */

.menu {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;

  @media (width >=640px) {
    gap: 3rem;
  }
}

.site__header .menu {
  align-self: flex-start;
}

.menu__list {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.menu__link {
  color: var(--color-stone-500);
  text-decoration: none;

  &:hover,
  &.menu__link--current {
    color: var(--color-stone-800);
  }
}

/*
 * Copy
 * 
 * 
 */

.copy {

  p,
  dl,
  ol,
  ul {
    text-align: left;
    text-wrap: pretty;

    @media (width >=640px) {
      text-align: justify;
    }
  }
}

/*
 * Page
 * 
 * 
 */

.page {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
}

.page__header {
  /* ? */
}

.page__title {
  font-family: var(--font-sans);
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  line-height: var(--text-xl--line-height);
}

.page__body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
}

/*
 * Site
 * 
 * 
 */

.site {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: flex-start;
  min-height: calc(100vh - (1.5rem + 1.5rem));
  padding: 1.5rem;

  @media (width >=640px) {
    min-height: calc(100vh - (3rem + 3rem));
    padding: 3rem;
  }

  @media (width >=1536px) {
    margin-inline: auto;
    width: calc(1536px - (3rem + 3rem));
  }
}

.site__header,
.site__main,
.site__footer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
}

.site__header {
  flex-grow: 0;

  @media (width >=640px) {
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
  }
}

.site__main {
  flex-grow: 1;
}

.site__footer {
  flex-grow: 0;
}

.site__main+.site__footer {
  padding-top: 6rem;
}

/*
 * Posts
 * 
 * 
 */

.posts {
  margin-inline: -1.5rem;
  overflow-x: auto;
  width: 100vw;

  @media (width>=640px) {
    margin-inline: -3rem;
  }

  @media (width >=1536px) {
    width: 1536px;
  }
}

.posts__table {
  border-block-start: solid 1px var(--color-stone-200);
  border-collapse: collapse;

  width: 100%;
}

.posts__cell {
  border-block-end: solid 1px var(--color-stone-200);
  white-space: nowrap;

  padding: 0.75rem 1.5rem;

  @media (width >=640px) {
    padding-inline: 3rem;
  }
}

th.posts__cell {
  text-align: left;
  width: 100%
}

.posts__cell:last-child {
  /* ? */
}

/*
 * Terms
 * 
 * 
 */

.terms {
  /* ? */
}

.terms__list {
  align-items: center;
  display: flex;
  gap: 0.375rem;
  justify-content: space-between;
}

.terms__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.terms__link {
  background-color: var(--color-stone-200);
  font-size: var(--text-xs);
  font-variation-settings: "MONO" 1;
  font-weight: var(--font-medium);
  letter-spacing: 0.1em;
  line-height: var(--text-xs--line-height);
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 999px;
  display: block;
  padding: 0.25rem 0.75rem;
}