{{ define "main" }}
  <p id="header-writing" class="ir">The beseku website has existed in some form for nearly ten years, but the archives contain only a fraction of the published content because of the great hosting reshuffle of 2005</p>
  
  <div class="content archive">
    <h1 id="sA"><span class="ir">Articles by chronology</span></h1>
    <p>I am always searching by topic but if date based archives are your bag all of the articles on this site are listed below by their publication date.</p>
    <ul>
      <li><a href="#">September, 2005</a></li>
      <li><a href="#">October, 2005</a></li>
      <li><a href="#">November, 2005</a></li>
      <li><a href="#">December, 2005</a></li>
      <li><a href="#">January, 2006</a></li>
      <li><a href="#">February, 2006</a></li>
    </ul>	
  </div>
  
  <div class="content archive">
    <h1 id="sB"><span class="ir">Articles by taxonomy</span></h1>
    <p>Hopefully what is listed below is a concise but descriptive list of the articles on this site by the category or categories they are filed under.</p>
    <ul>
      <li><a href="#">Senisl Nunc</a></li>
      <li><a href="#">Nunc Lllaor</a></li>
      <li><a href="#">Adipis tisi conse</a></li>
      <li><a href="#">Adignit issendiam</a></li>
      <li><a href="#">Cubilia ac lore</a></li>
      <li><a href="#">Tincidunt</a></li>
      <li><a href="#">Lumsan iliqui</a></li>
    </ul>	
  </div>	
  
  <div class="content archive last">
    <h1 id="sC"><span class="ir">Articles by keyword search</span></h1>
    <p>If neither of my methods of organisation suit your needs, the old stand by of searching by keyword is also available below.</p>
    {{ partial "search" . }}
  </div>
{{ end }}