@import url("https://use.typekit.net/seq5koq.css");

:root {
  --body-font-family: "roc-grotesk", "Karla", -apple-system, BlinkMacSystemFont, sans-serif;
  --meta-font-family: "roc-grotesk", "Karla", -apple-system, BlinkMacSystemFont, sans-serif;
  --subtitle-font-family: "roc-grotesk", "Karla", -apple-system, BlinkMacSystemFont, sans-serif;
  --title-font-family: "roc-grotesk", "Karla", -apple-system, BlinkMacSystemFont, sans-serif;
  --code-font-family: "anonymous-pro", monospace;
}

/*
 *
 *
 *
 *
 */

.m_menu__link--home {
  background-color: var(--tint-5-1);
}

.m_menu__link--news {
  background-color: var(--tint-1-1);
}

.m_menu__link--blog {
  background-color: var(--tint-6-1);
}

.m_menu__link--work {
  background-color: var(--tint-2-1);
}

.m_menu__link--about {
  background-color: var(--tint-8-1);
}

/*
 *
 *
 *
 *
 */

.o_archives {
  .o_item--news:after {
    background-color: var(--tint-1-1);
  }
  
  .o_item--blog:after {
    background-color: var(--tint-6-1);
  }
  
  .o_item--work:after {
    background-color: var(--tint-2-1);
  }
  
  .o_item--about:after {
    background-color: var(--tint-8-1);
  }
}

/*
 *
 *
 *
 *
 */

.o_archives {
  .o_item--news .m_card__blob {
    background-color: var(--tint-1-2);
  }
  
  .o_item--blog .m_card__blob {
    background-color: var(--tint-6-2);
  }
  
  .o_item--work .m_card__blob {
    background-color: var(--tint-2-2);
  }
  
  .o_item--about .m_card__blob {
    background-color: var(--tint-8-2);
  }
}

/*
 *
 *
 *
 *
 */
 
.u_copy--news a {
  color: var(--tint-1-0);
  
  &:hover {
    color: var(--tint-1-1);
  }
}

.u_copy--blog a {
  color: var(--tint-6-0);
  
  &:hover {
    color: var(--tint-6-1);
  }
}

.u_copy--work a {
  color: var(--tint-2-0);
  
  &:hover {
    color: var(--tint-2-1);
  }
}

.u_copy--about a {
  color: var(--tint-8-0);
  
  &:hover {
    color: var(--tint-8-1);
  }
}