{{ define "main" }}
  {{ $site := $.Site }}
  {{ $page := . }}
  
  <div class="page">
    <header class="page__menu">
      <h1 class="page__title">Tagged with &ldquo;{{ $page.Title }}&rdquo;</h1>
    </header><!-- .page__menu -->
    <div class="page__main">
      {{ with $page.Content }}
      <div class="section">
        <div class="copy">
          {{ . }}
        </div>
      </div><!-- .section -->
      {{ end }}
      
      {{ with $page.Pages }}
      <div class="section">
        <div class="section__wrap">
          {{ partial "posts/table.html" .ByDate.Reverse }}
        </div><!-- .section__wrap -->
      </div><!-- .section -->
      {{ end }}
    </div><!-- .page__main -->
  </div><!-- .page -->
{{ end }}
