{{ define "main" }}
  <p id="header-about" class="ir">This website is a platform for the comments &amp; opinions of Ben Sekulowicz on the state of the internet, the web development industry &amp; anything else of interest.</p>
  
  <div class="content">
    <h1 id="sD"><span class="ir">About the author</span></h1>
    <p>I&rsquo;m a twenty four year old graduate of the University of Surrey now living and working in London. My interests away from the web include an eclectic taste in music and film and a growing interest in typography and industrial design. I support Arsenal and am learning to play the guitar.</p>
    <p>I dislike diving footballers, estate agents, June Sarpong and talking in the third person.</p>
  </div>
  
  <div class="content">
    <h1 id="sE"><span class="ir">About the author&rsquo;s work</span></h1>
    <p>I currently work for <a href="http://www.cimex.com">Cimex</a>&mdash;a media company who produce interactive content, accessibility studies and web sites for the <acronym title="United Kingdom of Great britain and Northern Ireland">UK</acronym> government, the <acronym title="British Broadcasting Corporation">BBC</acronym>, Channel 4 and a number of commercial and non-profit organisations.</p>
    <p>In my role as web technologist, I have worked as lead front-end developer on a number of large scale projects. Examples of these and other projects can be seen in the &lsquo;working&rsquo; section of this site, (coming soon).</p>
    <p>If you require help with a standards based (re-)design, I am available for consulting, design and development work. Please get in touch and we&rsquo;ll sort something out. My <acronym title="Curriculum Vitae">CV</acronym> is available on request.</p>
  </div>
  
  <div class="content">
    <h1 id="sF"><span class="ir">Colophon</span></h1>
    <blockquote>
      <p>&lsquo;An inscription placed usually at the end of a book, giving facts about its publication&rsquo;</p>
    </blockquote>
    
    <p>This site uses <a href="">Wordpress</a> to manage content and allow for discussion. It is presented using transitional <acronym title="eXtensible Hyper TextMark-up Language">XHTML</acronym> and <acronym title="Cascading Style Sheets">CSS</acronym> &ndash; which is why it looks different in Internet Explorer &ndash; in such a way that users of non-standard devices should have no trouble in accessing it.</p>
    <p>Although the author is based in London this site is hosted in California by the exceptional <a href="http://www.dreamhost.com/rewards.cgi?beseku">Dreamhost</a>, resisiding on a shared server with <a href="http://www.flickrshow.com">Flickrshow</a>, <a href="">Check with mother</a> and other beseku projects.</p>
    <p>This site is redesigned too frequently. Previous versions are still around and can be found at <a href="http://v6.beseku.com">v6</a> and <a href="http://v7.beseku.com">v7.beseku.com</a>.</p>
  </div>
  
  <div class="content">
    <h1 id="sG"><span class="ir">Syndication</span></h1>
    <p>All of the articles on this website are available in the form of an <acronym title="eXtensible Mark-up Language">XML</acronym> feed available at <a href="http://feeds.feedburner.com/beseku/">feeds.feedburner.com/beseku/</a>.</p>
  </div>
  
  <div class="content last">
    <h1 id="sH"><span class="ir">Handy Contact Form</span></h1>
    <p>To make email based contact, for whatever reason, use the form below. Please note I do not require any enlargement, enhanced stamina or free money at this time.</p>
  
    <form method="post" action="#contactForm" id="contactForm">
      <fieldset>
        <label for="contactName">Your name</label>
        <input type="text" value="" name="contactName" id="contactName" class="form-text"/>
        <label for="contactMail">Your email address</label>
        <input type="text" value="" name="contactMail" id="contactMail" class="form-text"/>
        <label for="contactMessage">Your message, job offer or complaint</label>
        <textarea name="contactMessage" id="contactMessage" rows="8" cols="33"></textarea>
        <input type="submit" value="send message" class="form-button"/>
      </fieldset>
    </form>
  </div>
{{ end }}