{{ define "main" }}
  <div id="content">
    <h2>About the Author</h2>
    <p>Ben Sekulowicz-Barclay is a graduate of the University of Surrey and currently works as a Web Developer/Information Architect in London, England.</p>
    <p>As well as the Internet and all things webdesign, his interests include how <a href="http://www.arsenal.com" title="Arsenal F.C. Official Website">Arsenal F.C.</a> are faring, <a href="http://www.damienrice.com/" title="Favourite Album 1: O - Damien Rice">good</a> <a href="http://www.thekillers.co.uk/" title="Favourite Album 2: Hot Fuss - The Killers">music</a>, <a href="http://www.imdb.com/title/tt0110413/" title="Favourite Movie 1: Leon">good</a> <a href="http://www.imdb.com/title/tt0120586/" title="Favourite Movie 2: American History X">movies</a> and trying to make semi pleasant noises from a guitar. </p>
    
    <h3>Working for you</h3>
    <p>At this time I am happily employed, and so would probably not be able to spend enough time on your project to do it justice. My <a href="#" title="My Curriculum Vitae">C.V.</a> is available for your records though.</p>
    
    <h2>About the Site</h2>
    <p>Beseku.com was re-designed to allow for better content, and more of it. It will most probably not be as <a href="http://cssvault.com/gallery/beseku.php" title="Beseku version 6 in the CSS Vault">well received</a> as the previous version, and people will still probably only come here because of my <a href="http://experiment.beseku.com/generator" title="XHTML Semantic Generator">dissertation</a>.</p>
    <p>The site was created using an <a href="http://www.apple.com/uk/" title="Apple Computers">Apple Powerbook 12</a>.</p>
    
    <h3>The Front</h3>
    <p>The site was designed using Adobe Photoshop for mock-ups and graphical work and then structured in <acronym title="eXtensible HyperText Markup Language">XHTML</acronym> Strict 1.1. All positioning and styling is provided by a few <acronym title="Cascading Style Sheets">CSS</acronym> files.</p>
    <p>Extra functionality is provided by a few Javascript functions, (including an <span class="strike">improved</span> modified version of Cameron Adams' <a href="http://www.themaninblue.com/writing/perspective/2004/10/19/" title="Accessible JavaScript tip #43: onchange select menu">onChange functions</a>), and the headings are enhanced by the tremendous <a href="http://www.mikeindustries.com/blog/archive/2004/08/sifr" title="sIFR: Heading replacement using Flash">Siffer</a>.</p>
    
    <h3>The Back</h3>
    <p>The majority of content for this site is in the form of simple XHTML files, but the journal section is driven by the rather great <a href="http://wordpress.org" title="Wordpress: a state-of-the-art semantic personal publishing platform">Wordpress</a> <acronym title="Content Management System">CMS</acronym>.</p>
    
    <h3>Accessibility and Standards</h3>
    <p>As mentioned above, this site uses XHTML and CSS for structure and decoration respectively. This allows the content to be seperated from the style of the site, making it infinitely easier to modify and use. With the flick of a switch, (a switch that creates an alternative style sheet automagically) the site design could be altered for display on mobile devices, projectors, television screens or in print or braille.</p>
    <p>The use of these technologies, (known as webstandards) also make the content of the site accessible to many more users, as it is much easier to alter colours or increase text size. It should also function well with screen readers.</p>
    <p>Although any user agent should be able to display the content of this site in some form, users of older browsers may not see the site as intended. Can I recommend the excellent <a href="http://www.getfirefox.com" title="Get firefox">Firefox</a> browser to users on any platform, (although Apple users have less <a href="http://www.apple.com/safari/" title="Safari for Mac OS X">reason</a> to switch). It is a vast improvement on Internet Explorer in every way.</p> 
    <p>If you are using a modern browser and find a bug, please contact me and let me know.</p>
    
    <h2>Handy Contact Form</h2>
    <p>To make contact, for whatever reason, use the form below. <a id="contact"></a></p>
    
    <form method="post" action="#">
      <fieldset>
        <label for="contactName">Name:</label>
        <input type="text" value="" name="contactName" id="contactName" class="form-text"/><br />
    
        <label for="contactMail">Email:</label>
        <input type="text" value="" name="contactMail" id="contactMail" class="form-text"/><br />
    
        <label for="contactMessage">Message:</label>
        <textarea name="contactMessage" id="contactMessage" rows="8" cols="33"></textarea><br />
    
        <input type="submit" value="send message" class="form-button"/><br />
      </fieldset>
    </form>
    
    <h2>Serious Stuff</h2>
    <p>Please feel free to use the techniques, hacks and nuggets of information talked about and/or used on this site, but please don&rsquo;t steal graphics or code in its entirety. That would be unfair on me and lazy of you. </p>
    <p>I don&rsquo;t take responsibility for any comments on this site and they remain the property of their owners. Similary, any external content referenced on this site is viewed at your own risk. If it ends up being bums 'n' boobs, its your own fault and you shouldn&rsquo;t be surfing the web at work.</p>
    <p> Copyright &copy; 2004 Ben Sekulowicz-Barclay. All Rights Reserved.</p>
  </div>
  <div id="sub-content">
    <h2>Frequently Asked</h2>
    <dl>
      <dt>What&rsquo;s with the name of this site?</dt>
      <dd>The site comes form an old school username, based on my real name, <em>Be</em>n <em>Seku</em>lowicz-Barclay.</dd>
      
      <dt>What&rsquo;s with the name?</dt>
      <dd>Parental angst and a dislike for school teachers and interviewers I imagine. Its pronounced "sec-a-wov-ich".</dd>
      
      <dt>I preferred the old design. Why change it to this rubbish?</dt>
      <dd>You are in <a href="http://cssvault.com/gallery/beseku.php" title="Beseku version 6 in the CSS Vault">good</a> <a href="http://www.designerstalk.com" title="They all prefer the old design">company</a> but it got very stale and the layout couldn&rsquo;t easily be adapted for more content. The old version is <a href="http://v6.beseku.com" title="Beseku.com Version 6">still around</a> though.</dd>
      
      <dt>Is this really version seven of the site?</dt>
      <dd>Quite possibly, as I redesigned frequently while at university. The version may also be due to my addiction to the number seven.</dd>
      
      <dt>You work as a web developer. What&rsquo;s the company?</dt>
      <dd>I will not talk about work on the Internet.</dd>
      
      <dt>What <acronym title="Content Management System">CMS</acronym> do you use to publish the site?</dt>
      <dd>I use the rather great <a href="http://wordpress.org" title="Wordpress: a state-of-the-art semantic personal publishing platform">Wordpress</a>.</dd>
      
      <dt>I really like you. How can I email you and tell you this?</dt>
      <dd>To contact me, use the <a href="#contact" title="Handy contact form">handy form</a> at the bottom of this page.</dd>
    </dl>
    <h2>Other Stuff</h2>
    <p>At the last check, this site should <a href="http://validator.w3.org/check?verbose=1&uri=http%3A//www.beseku.com/7/journal/" title="Validate the XHTML at beseku.com">validate as XHTML 1.1 Strict</a> with <a href="http://jigsaw.w3.org/css-validator/validator?profile=css2&warning=2&uri=http%3A//www.beseku.com/7/journal/" title="Validate the CSS at beseku.com">valid CSS</a>. If not, I probably forgot an &amp;.</p>
  </div>
{{ end }}