@mixin hide_element {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

@mixin hide_text {
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}