body {
	background: #FAFAFA;
	font-family: georgia, cambria, times, "times new roman", serif;	
	font-size: 62.5%;
	color: #444;
}

/* ********************************************************************************************* */

h1 {
	position: relative; 
	margin: 0 0 1.2em;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
}

h1 a, 
h1 span {
	background: transparent;
	height: 1.96em;
	display: block;
}

h1 em {
	background: transparent;
	width: 20em;
	height: 1.96em;
	display: block;
	position: absolute;
	top: 0;
	left: -22em;
}

h2 { 
	margin: 1em 0;
	font-size: 1.6em;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: 0.1em;
	color: #7CA600;
}

/* ********************************************************************************************* */

p, ul, dl { 	
	margin: 0 0 1em;
	font-size: 1.2em; 
	line-height: 1.5em;
}


/* ********************************************************************************************* */

blockquote p { font-style: italic; }

/* ********************************************************************************************* */
a { 
	color: #7CA600;
	text-decoration: none;	 
}

a:hover { text-decoration: underline; }

/* ********************************************************************************************* */

acronym,
abbr {
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	cursor: help;
	border: none;
}

/* ********************************************************************************************* */

code { 
	background: transparent url("../images/bg-1.gif") 0 0 repeat-y;
	display: block;
	margin: 2em 0; 
	padding: 0 0 0 2.307em;
	font-size: 1.1em;
	
}

code.inline { 
	background: transparent;
	display: inline;
	margin: 0; 
	padding: 0;
}

/* ********************************************************************************************* */

div#page {
	background: transparent;
	width: 42em;
	margin: 0 auto;
	padding: 0 0 0 22em;
}

/* ********************************************************************************************* */

div#page ul#navigation {
	background: transparent url("../images/bg-1.gif") 0 0 repeat-x;
	width: 100%;
	margin: 0;
	padding: 2.7em 0 0;
	list-style: none;
}

div#page ul#navigation li {
	float: left;
	margin: 0;
	padding: 0;
}

div#page ul#navigation li a {
	background-color: transparent;
	background-image: url("../images/text-navigation.gif");
	background-repeat: no-repeat;
	display: block;
	height: 30px;
}

div#page ul#navigation li#navigation-home { width: 40px; }
div#page ul#navigation li#navigation-writing { width: 65px; }
div#page ul#navigation li#navigation-about { width: 55px; }

div#page ul#navigation li#navigation-home a { background-position: -009px 0; }
div#page ul#navigation li#navigation-writing a { background-position: -049px 0; }
div#page ul#navigation li#navigation-about a { background-position: -114px 0; }

div#page ul#navigation li#navigation-home strong a,
div#page ul#navigation li#navigation-home a:hover { background-position: -009px -29px; }

div#page ul#navigation li#navigation-writing strong a,
div#page ul#navigation li#navigation-writing a:hover { background-position: -049px -29px; }

div#page ul#navigation li#navigation-about strong a,
div#page ul#navigation li#navigation-about a:hover { background-position: -114px -29px; }

/* ********************************************************************************************* */

div#page p#header-home,
div#page p#header-writing,
div#page p#header-about,
div#page p#header-404 {
	background-color: transparent;
	background-position: -10px -10px;
	background-repeat: no-repeat;
	width: 100%;
	height: 121px;
	margin: 3.6em 0 1.3em;
	padding: 0;
	font-size: 1em;
	line-height: 1em;
	color: #666;
}

div#page p#header-home 		{ background-image: url("../images/text-header-home.gif"); }
div#page p#header-writing	{ background-image: url("../images/text-header-writing.gif"); }
div#page p#header-about		{ background-image: url("../images/text-header-about.gif"); }
div#page p#header-404		{ background-image: url("../images/text-header-404.gif"); }

/* ********************************************************************************************* */

div#page div.content {
	background: transparent url("../images/bg-2.gif") 0 100% repeat-x;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 2.4em 0 1.4em;
}

div#page div.content.last { 
	background: transparent !important; 
	padding-bottom: 0 !important;
}

div#page div.content fieldset {
	background: transparent url("../images/bg-3.gif");
	margin: 0 0 1em;
	padding: 1em 1em 0;
	border: none;
}

div#page div.content fieldset label { 
	background: #FAFAFA;
	width: auto;
	clear: left;
	float: left;
	font-size: 1.1em;
	color: #666;
	padding: 0.3em;
}

div#page div.content fieldset label strong {
	font-weight: lighter;
	font-style: italic;
	color: #7CA600;
}

div#page div.content fieldset label acronym,
div#page div.content fieldset label abbr { font-size: 1.1em; }

div#page div.content fieldset input, 
div#page div.content fieldset textarea { 
	clear: left;
	float: left;
	margin: 0.3em 0 1em;
	padding: 0.2em;
	font-size: 1.3em;
	color: #666;
	display: block;
	border: solid 1px #CCC;
}

div#page div.content fieldset input.form-text { width: 14.846em; }

div#page div.content fieldset textarea { width: 100%; }

div#page div.content fieldset input.form-button {
	background: #FAFAFA;
	margin: 0 0 1em;
	padding: 0.3em;
	font-size: 1.1em;
	color: #7CA600;
	width: auto;	
	border: double 3px #CCC;
}

div#page div.content fieldset input.form-hidden { display: none; }

div#page div.content fieldset.alt input.form-button {
	clear: none;
	margin: 0.28em 0 0.769em 1em;	
}

/* ********************************************************************************************* */

div#page div.content dl.somewhere-else dt { margin: 1em 0 0; }

div#page div.content dl.somewhere-else dt span {
	font-style: italic;
	color: #AAA;
}

div#page div.content dl.somewhere-else dt span a { color: #AAA; }

/* ********************************************************************************************* */

div#page div.content.article dl#comments {
	background: transparent url("../images/bg-3.gif") 0 0;
	margin: 1.8em 0;
	padding: 1em;
	font-size: 1em;
	border: none;	
}

div#page div.content.article dl#comments dt {
	background: #FAFAFA;
	font-size: 1.1em;
	font-style: italic;
	font-weight: lighter;
	color: #666;
	padding: 1em 1em 0.75em;
	margin: 0.9em 0 0;	
}

div#page div.content.article dl#comments dt:first-child { margin: 0; }

div#page div.content.article dl#comments dd {
	background: #FAFAFA;
	font-size: 1.1em;
	color: #666;
	padding: 0 1em 1em;
	margin: 0;
}

div#page div.content.article dl#comments dd p {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

div#page div.content.article dl#comments dd acronym,
div#page div.content.article dl#comments dd abbr { font-size: 1.1em; }

div#page div.content.article div.article-item {
	background: transparent;
	position: relative;
}

div#page div.content.article div.article-item p.caption {
	background: transparent;
	width: 18.1818em;
	position: absolute;
	top: -1em;
	left: -20em;
	font-size: 1.1em;
	font-style: italic;
	color: #BBB;
	text-align: left;
}

div#page div.content.article div.article-item p.caption strong {
	font-weight: lighter;
	display: block;
	margin-top: 1em;
}

/* ********************************************************************************************* */

div#page div.content.excerpt+div.content.excerpt+div.content.excerpt+div.content.excerpt+div.content.excerpt { 
	background: transparent; 
	padding-bottom: 0;
}

/* ********************************************************************************************* */

div#page div.content.archive h1 {
	background: transparent;
	width: 20em;
	top: 7.2em;
	bottom: 2em;
	left: -22em;
	position: absolute;
}

div#page div.content.archive.last h1 { bottom: -1.2em; }

div#page div.content.archive ul {
	background: transparent url("../images/bg-3.gif");
	font-size: 1em;
	margin: 0 0 1.8em;
	padding: 1em 1em 0 0;
	list-style: none;
}

div#page div.content.archive ul li {
	background: #FAFAFA;
	float: left;
	width: 12.66em;
	margin: 0 0 1em 1em;
}

div#page div.content.archive ul li a {
	display: block;
	padding: 0.3em;
	font-size: 1.1em;
}

/* ********************************************************************************************* */

div#page ul#footer {
	background: transparent url("../images/bg-1.gif") 0 100% repeat-x;
	width: 100%;
	margin: 0;
	padding: 2.4em 0 2.7em;
	list-style: none;
}

div#page ul#footer li {
	float: left;
	margin: 0;
	padding: 0;
}

div#page ul#footer li a {
	background-color: transparent;
	background-image: url("../images/text-footer.gif");
	background-repeat: no-repeat;
	display: block;
	height: 28px;
}

div#page ul#footer li#footer-1 { width: 099px; }
div#page ul#footer li#footer-2 { width: 129px; }
div#page ul#footer li#footer-3 { width: 128px; }

div#page ul#footer li#footer-1 a { background-position: -009px 0; }
div#page ul#footer li#footer-2 a { background-position: -108px 0; }
div#page ul#footer li#footer-3 a { background-position: -236px 0; }

div#page ul#footer li#footer-1 strong a,
div#page ul#footer li#footer-1 a:hover { background-position: -009px -27px; }

div#page ul#footer li#footer-2 strong a,
div#page ul#footer li#footer-2 a:hover { background-position: -108px -27px; }

div#page ul#footer li#footer-3 strong a,
div#page ul#footer li#footer-3 a:hover { background-position: -236px -27px; }

/* ********************************************************************************************* */

div#page div.content h1 a,
div#page div.content h1 span {
	background-color: transparent;
	background-position: -10px -10px;
	background-repeat: no-repeat;
	height: 20px;
}

div#page div.content h1#d1 a 	{ background-image: url("../images/text-heading-1.gif"); }
div#page div.content h1#d5 a 	{ background-image: url("../images/text-heading-5.gif"); }
div#page div.content h1#d9 a 	{ background-image: url("../images/text-heading-9.gif"); }
div#page div.content h1#d11 a 	{ background-image: url("../images/text-heading-11.gif"); }
div#page div.content h1#d14 a 	{ background-image: url("../images/text-heading-14.gif"); }
div#page div.content h1#d15 a 	{ background-image: url("../images/text-heading-15.gif"); }
div#page div.content h1#d16 a 	{ background-image: url("../images/text-heading-16.gif"); }
div#page div.content h1#d17 a 	{ background-image: url("../images/text-heading-17.gif"); }
div#page div.content h1#d20 a 	{ background-image: url("../images/text-heading-20.gif"); }
div#page div.content h1#d21 a 	{ background-image: url("../images/text-heading-21.gif"); }
div#page div.content h1#d22 a 	{ background-image: url("../images/text-heading-22.gif"); }
div#page div.content h1#d23 a 	{ background-image: url("../images/text-heading-23.gif"); }
div#page div.content h1#d24 a 	{ background-image: url("../images/text-heading-24.gif"); }
div#page div.content h1#d25 a 	{ background-image: url("../images/text-heading-25.gif"); }
div#page div.content h1#d26 a 	{ background-image: url("../images/text-heading-26.gif"); }
div#page div.content h1#d27 a 	{ background-image: url("../images/text-heading-27.gif"); }
div#page div.content h1#d28 a 	{ background-image: url("../images/text-heading-28.gif"); }
div#page div.content h1#d29 a 	{ background-image: url("../images/text-heading-29.gif"); }
div#page div.content h1#d30 a 	{ background-image: url("../images/text-heading-30.gif"); }

div#page div.content h1 em {
	background-color: transparent;
	background-position: 100% -10px;
	background-repeat: no-repeat;
	height: 20px;
}

div#page div.content h1#d1 em 	{ background-image: url("../images/text-date-1.gif"); }
div#page div.content h1#d5 em 	{ background-image: url("../images/text-date-5.gif"); }
div#page div.content h1#d9 em 	{ background-image: url("../images/text-date-9.gif"); }
div#page div.content h1#d11 em 	{ background-image: url("../images/text-date-11.gif"); }
div#page div.content h1#d14 em 	{ background-image: url("../images/text-date-14.gif"); }
div#page div.content h1#d15 em 	{ background-image: url("../images/text-date-15.gif"); }
div#page div.content h1#d16 em 	{ background-image: url("../images/text-date-16.gif"); }
div#page div.content h1#d17 em 	{ background-image: url("../images/text-date-17.gif"); }
div#page div.content h1#d20 em 	{ background-image: url("../images/text-date-20.gif"); }
div#page div.content h1#d21 em 	{ background-image: url("../images/text-date-21.gif"); }
div#page div.content h1#d22 em 	{ background-image: url("../images/text-date-22.gif"); }
div#page div.content h1#d23 em 	{ background-image: url("../images/text-date-23.gif"); }
div#page div.content h1#d24 em 	{ background-image: url("../images/text-date-24.gif"); }
div#page div.content h1#d25 em 	{ background-image: url("../images/text-date-25.gif"); }
div#page div.content h1#d26 em 	{ background-image: url("../images/text-date-26.gif"); }
div#page div.content h1#d27 em 	{ background-image: url("../images/text-date-27.gif"); }
div#page div.content h1#d28 em 	{ background-image: url("../images/text-date-28.gif"); }
div#page div.content h1#d29 em 	{ background-image: url("../images/text-date-29.gif"); }
div#page div.content h1#d30 em 	{ background-image: url("../images/text-date-30.gif"); }

div#page div.content h1#sA span,
div#page div.content h1#sB span,
div#page div.content h1#sC span {
	background-color: transparent;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -2px;
	bottom: 0;
} 

/* COMMENTS HEADING */
div#page div.content h1#sI span,
div#page div.content h1#sJ span { margin-top: 3.6em; }

div#page div.content h1#sA span { background-image: url("../images/text-heading-a.gif"); }
div#page div.content h1#sB span { background-image: url("../images/text-heading-b.gif"); }
div#page div.content h1#sC span { background-image: url("../images/text-heading-c.gif"); }
div#page div.content h1#sD span { background-image: url("../images/text-heading-d.gif"); }
div#page div.content h1#sE span { background-image: url("../images/text-heading-e.gif"); }
div#page div.content h1#sF span { background-image: url("../images/text-heading-f.gif"); }
div#page div.content h1#sG span { background-image: url("../images/text-heading-g.gif"); }
div#page div.content h1#sH span { background-image: url("../images/text-heading-h.gif"); }
div#page div.content h1#sI span { background-image: url("../images/text-heading-i.gif"); }
div#page div.content h1#sJ span { background-image: url("../images/text-heading-j.gif"); }

/* ********************************************************************************************* */

div#page ul#navigation:after,
div#page ul#footer:after,
div#page div.content ul:after,
div#page div.content fieldset:after,
div#page div.content fieldset label:after,
div#page div.content fieldset input:after  {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}