*
{
	margin: 0;
	padding: 0;	
}

body
{
	background-image: url("../images/bg-body.jpg");
	background-repeat: repeat-y;
	background-color: #333;
}

/* ===================================================================================== */

#header
{
	background-image: url("../images/bg-header.jpg");
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	height: 830px;
	position: absolute;
	top: 0;
	left: 0;
}

#content
{
	background-image: url("../images/bg-footer.jpg");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: bottom left;
	width: 445px;
	min-height: 820px;
	position: absolute;
	top: 128px;
	left: 0;
	padding: 0 270px 55px 35px;
}

#sub-content
{
	background-color: transparent;
	width: 210px;
	position: absolute;
	top: 130px;
	left: 500px;
}

/* ===================================================================================== */

#header ul
{
	background: transparent;
	width: 287px;
	height: 52px;	
	position: absolute;
	top: 60px;
	left: 405px;
	list-style: none
}

#header ul li
{
	list-style: none;	
	display: inline;
}

#header ul li a
{
	background-image: url("../images/nav-off.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	height: 52px;	
	float: left;
	text-decoration: none;
}

#header ul li a:hover, #header ul li a.active
{
	background-image: url("../images/nav-on.gif");
	height: 52px;
}

#header ul li a.active
{
	cursor: default;
}

#header ul li a#nav-projects
{
	background-position: 0 0;
	width: 99px;
	text-indent: -9999px;
}

#header ul li a#nav-journal
{
	background-position: -99px 0;
	width: 109px;
	text-indent: -9999px;
}

#header ul li a#nav-about
{
	background-position: -208px 0;
	width: 79px;
	text-indent: -9999px;
}

/* ===================================================================================== */

#sub-content ul
{
	background: transparent;
	width: 200px;
	display: block;
	list-style: none;
	text-indent: 0;	
	margin: 5px 10px 20px 10px;
}

#sub-content ul li
{
	background-color: transparent;
	list-style: none;
	text-indent: 0;
	padding: 5px 0;	
	border-style: dotted;
	border-color: #AAA;
	border-width: 0 0 1px 0;
}

#sub-content dl
{
	background: transparent;
	width: 200px;
	display: block;
	list-style: none;
	text-indent: 0;	
	margin: 0 10px;
	padding: 3px 0 0 0;
}

#sub-content dl dt, #sub-content dl dd
{
	background: transparent;
	list-style: none;
	text-indent: 0;
	padding: 0 0 15px 0;
}

#sub-content dl dt
{
	padding: 0;	
}

/* ===================================================================================== */

#content img
{
	border-style: none;
}

.img-project
{
	
}


.img-journal
{
background: transparent;
width: 300px;
margin: 0 65px;
}

/* ===================================================================================== */

#content ul
{
	list-style: none;
	text-indent: 0;
	margin: -5px 10px 15px 10px;		
}

#content ul li
{
	background-image: url("../images/icon-list.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 9px;	
	list-style: none;
	text-indent: 0;
	padding: 5px 0 5px 12px;	
}

/* ===================================================================================== */

#content .comment
{
	background: transparent;
	width: 430px;
	padding: 10px 0 0 0; 
	margin: 10px 10px 10px 10px; 
	border-style: double;
	border-color: #CD5050;
	border-width: 3px;
}


/* ===================================================================================== */

#content ul.sub-post
{
	background: transparent;
	width: 430px;
	list-style: none;
	text-indent: 0;
	border-style: dotted;
	border-color: #AAA;
	border-width: 1px 0 0 0;
	padding: 10px 0;
	margin: 0 10px;
}	

#content ul.sub-post li
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 50%;	
	padding: 0 0 0 12px;	
	display: inline;
	list-style: none;
	text-indent: 0;
	margin: 0 10px 0 0;
}

#content ul.sub-post li.user
{
	background-image: url("../images/icon-user.gif");
}

#content ul.sub-post li.date
{
	background-image: url("../images/icon-date.gif");
}

#content ul.sub-post li.comments
{
	background-image: url("../images/icon-comments.gif");
}


/* ===================================================================================== */

fieldset
{
	margin: 0 10px;
}

select, .form-text, .form-button, textarea
{
	font-family: verdana, helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}

#content fieldset br
{
	clear: left;	
}

#content fieldset
{
	background: transparent;
	padding: 10px;
	margin: 0 10px 10px 10px;
	border-style: double;
	border-color: #CD5050;
	border-width: 3px;
}

#content label
{
	background: transparent;
	width: 100px;
	display: block;
	float: left;
	margin: 0 5px 10px 0;
	padding: 2px 3px;		
}

#content .form-text
{
	float: left;
	margin: 0 5px 10px 0;	
	padding: 1px;
	width: 200px	
}

#content textarea
{
	float: left;	
	width: 270px;
	height: 150px;
}

#content .form-button
{
	margin: 10px 10px 0 110px;	
}

#sub-content form
{
	margin: 0;	
}

#sub-content fieldset
{
	margin: 10px 10px 0 10px;
	border-style: none;	
}

#sub-content select
{
	background: #FFF;
	width: 200px;
}

#sub-content .form-button
{
	float: left;
	margin: 10px 0 15px 0;	
}



