body {
	margin: 0;
	padding: 0;
}
	
p, blockquote {
	margin: 0;
	padding: 0;
}

a img { border: none; }
	
/* Headers ************************************************************************************* */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
	
/* Lists *************************************************************************************** */
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}
	
/* Links *************************************************************************************** */

a, a:link {}
a:visited {}
a:hover {}
a:active {}

/* Forms *************************************************************************************** */

form, fieldset {
	margin: 0;
	padding: 0;
}
	
fieldset { border: 1px solid #000; }

legend {
	color: #000;
	padding: 0;
}

input, textarea, select {
	font-size: 100%;
	font-family: inherit;
	margin: 0;
	padding: 1px;
}
	
select { padding: 0; }

/* Specialist ********************************************************************************** */

.ir {
	text-indent: -999px;
	overflow: hidden;
}

.musth {
	position: absolute;
	top: -999px;
	left: -999px;
	height: 1px;
	width: 1px;
	overflow: hidden;
	text-indent: -9999em;
}